* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
    position: sticky;
    top: 0;
}

nav {
    height: 50px;
    background: #212121;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style: none;
}

.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 43px;
}

.subheader {
    position:absolute;
    width:100%;
    height: 84px;
    background-color: rgba(0,0,0, .6);
}

.subheader .subheader_logo {
    display: block;
    margin-top: 16px;
    max-width: 100%;
}

.subheader .subheader_official {
    margin-top: 6px;
    opacity: 0.5;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 400;
}

.subheader .subheader_call {
    margin-top: 21px;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 12px;
    text-align: right;
}


.subheader .subheader_phone {
    display: block;
    margin-top: 4px;
    color:#FFFFFF;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
}

.subheader .subheader_btn {
    margin-top: 21px;
    font-weight: 400;
    font-size: 14px;
    color:#FFFFFF;
    text-transform: uppercase;
    width: 172px;
    height: 48px;
    background: linear-gradient(0deg, #1EACC7 30%, #4CE2FF 100%);
    border-radius: 4px;
    border: none;
}

.promo{
    min-height: 800px;
    background: url('../img/bg/uber_bg.jpg') center center/ cover no-repeat;
    padding: 150px 0 135px 0;
}

.promo .promo_header {
    color:#FFFFFF;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
}

.promo .promo_subheader {
    margin: 0;
    margin-top: 22px;
    color:#FFFFFF;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    line-height: 36px;
}

.promo .promo_descr {
    margin-top: 32px;
    color:#FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.promo .promo_btn {
    display: block;
    margin: 115px auto 0 auto;
    font-weight: 400;
    font-size: 18px;
    color:#FFFFFF;
    text-transform: uppercase;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 30%, #4CE2FF 100%);
    border-radius: 4px;
    border: none;
}

.cause {
    min-height: 848px;
    padding: 24px 0 64px 0;
}

.min_btn{
    display: block;
    margin: 18px auto 0 auto;
    font-weight: 400;
    font-size: 12px;
    color:#FFFFFF;
    width: 124px;
    height: 36px;
    background: black;
    border-radius: 4px;
    border: none;
}

.label {
    margin: 0;
    margin-top: 32px;
    margin-bottom: 16px;
    text-align: center;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    text-transform: uppercase;
    color: #222222;
}

.bloc_item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    margin-top: 24px;
    margin-right: 70px;

    

}
.blok_img .icon_circle {
    margin-right: 24px;
    object-fit: none;
    height: 116px;
    width: 116px;
    text-align: center;
    line-height: 50px;
    background: #1EACC7;
    border-radius: 50%;
}
.bloc_text {
    width: 371px;
    
}

.bloc_text .cause_desc {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #1EACC7
}

.bloc_text .cause_text {
    font-weight: 300;
    font-size: 15px;
    color: #202020;
}